{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
<body class="bg-gradient-primary">

  <div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
              </div>
              <form class="user text-center" method="post">
                <div class="form-group">
                  <div>
                    <input type="text" name="username" class="form-control form-control-user" id="username" placeholder="Email">
                  </div>
                </div>
                <div class="form-group">
                  <div>
                    <input type="text" name="name" class="form-control form-control-user" id="name" placeholder="John Smith">
                  </div>
                </div>
                <div class="form-group">
                  <div>
                    <input type="text" name="age" class="form-control form-control-user" id="age" placeholder="Age">
                  </div>
                </div>
                <div class="form-group">
                  <div>
                    <select name="gender" id="gender" class="form-control form-control-sm">
                      <option value="Male">Male</option>
                      <option value="Female">Female</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <div>
                    <input type="password" name="password" class="form-control form-control-user" id="password" placeholder="Password">
                  </div>
                </div>
                <input type="submit" href="{{ url_for('dashboard.index') }}" value= "Register" class="btn btn-primary btn-user btn-block">
              </form>
              <hr>
              <div class="text-center">
                <a class="small" href="{{ url_for('auth.login') }}">Already have an account? Login!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</body>
{% endblock %}