{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Log A Mood{% endblock %}</h1>
{% endblock %}

{% block content %}
<hr>

<div class="text-center container">
  <div class="card">
    <div class="card-header">
      <h1 class="text-center">Capture Photo</h1>
      <p>Try to get a clear image of your face when taking the photo.</p>
    </div>
    <video autoplay id="video" class="rounded m-1"></video>
    <form class="text-center" method="post">
      <input type="text" id="img" hidden="hidden" name="file" id="file">
      <input type="submit" class="btn btn-primary btn-user btn-lg" value="Capture" id="capture" name="capture">
      <input type="submit" hidden="hidden" value="pass" name="pass" id="pass">
    </form>
  </div>
</div>

<script>
  const constraints = {
    video: {width: {exact: 480}, height: {exact: 480}}
  };

  navigator.mediaDevices.getUserMedia(constraints).then((stream) => {video.srcObject = stream});

  photoButton = document.getElementById('capture');

  photoButton.addEventListener('click', function(event){
    captureImage();
    event.preventDefault();
  }, false);

  function captureImage(){
    const canvas = document.createElement('canvas');

    canvas.width = 480;
    canvas.height = 480;
    canvas.getContext('2d').drawImage(video, 0, 0);

    const photo = canvas.toDataURL('image/png');

    const pass = document.getElementById('pass');
    const img = document.getElementById('img');
    img.setAttribute(value, photo);
    console.log(img.value);
    pass.click();


  }
</script>
{% endblock %}