{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Dashboard{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('dashboard.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}

  <!-- Page Wrapper -->
  <div id="wrapper">
  
      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
  
        <!-- Main Content -->
        <div id="content">
  
          <!-- Begin Page Content -->
          <div class="container-fluid">
  
            <!-- Page Heading -->
            <br>
            <br>
            <div class="row mb-4 text-center">
              <div class="col-md-10 offset-1">
                <div class="card">
                  <div class="card-header">
                    <h1 class="card-title">Have a quote!</h1>
                  </div>
                  <div class="card-body">
                    <p id="quote"></p>
                  </div>
                </div>
              </div>
            </div>
            <!-- User information card -->

            <div class="row">

              <div class="col-md-6">
                  <div class="card shadow mb-4">
                      <div class="card-header py-3">
                        <h4 class="m-0 font-weight-bold text-primary text-center">Welcome to {{ g.user['name'] }}'s Board!</h6>
                      </div>

                      <ul class="list-group list-group-flush">
                          <li class="list-group-item"><b>Email:</b> {{ g.user['username'] }}</li>
                          <li class="list-group-item"><b>Age:</b> {{ g.user['age'] }}</li>
                          <li class="list-group-item"><b>Gender:</b> {{ g.user['gender'] }}</li>
                      </ul>

                      <div class="card-body text-center">
                      
                        <a href="{{ url_for('dashboard.create') }}" class="btn btn-primary">Log a Mood</a>

                      </div>

                    </div>
              
              
              
              
              
              
              
                
              <!-- Area Chart -->
                  <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                      <h6 class="m-0 font-weight-bold text-primary">Mood History</h6>
                    
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                      <div class="chart-area">
                        <canvas id="myAreaChart"></canvas>
                      </div>
                    </div>
                  </div>
              
              
              
              
              
              
              
              
              </div>



          <div class="col-md-6">
            <!-- top cards -->
            
            <div class="row mb-4">

              <!-- Number of Moods logged card -->
              <div class="col-md-4">
                  <div class="card border-left-primary shadow h-100">

                    <div class="card-header">
                        <div class="text-s font-weight-bold text-primary text-uppercase mb-1">Number of Moods Logged</div>
                    </div>

                    <div class="card-body">
                      <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                          <div class="h5 mb-0 font-weight-bold text-gray-800">{{ moods_size }}</div>
                        </div>
                        <div class="col-auto">
                          <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>

  
  
              <!-- Most Frequent Mood -->
            <div class="col-md-4">
                <div class="card border-left-primary shadow h-100">
                  
                  <div class="card-header">
                      <div class="text-s font-weight-bold text-primary text-uppercase mb-1">Last Logged Mood</div>
                  </div>

                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="h5 mb-0 font-weight-bold text-gray-800" id="mood">{{ last_mood.mood_type }}</div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-comments fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
              
              <!-- Most Frequent Mood -->
            <div class="col-md-4">
                  <div class="card border-left-primary shadow">

                    <div class="card-header">
                        <div class="text-s font-weight-bold text-primary text-uppercase mb-1">Most Frequent Mood</div>
                    </div>

                    <div class="card-body">
                      <div class="row no-gutters align-items-center">


                        <div class="col mr-2">
                          <div class="h5 mb-0 font-weight-bold text-gray-800">{{ frequent_mood }}</div>
                        </div>

                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                          </div>

                      </div>
                    </div>
                  </div>
              </div>

            </div>








              <!-- Content Column -->
  
                  <!-- Project Card Example -->
                  <div class="card shadow mb-4">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">Mood Distribution</h6>
                    </div>
                    <div class="card-body">

                      <h4 class="small font-weight-bold">Happiness <span class="float-right">{{  }}%</span></h4>
                      <div class="progress mb-4">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>

                      <h4 class="small font-weight-bold">Surprise <span class="float-right">40%</span></h4>
                      <div class="progress mb-4">
                        <div class="progress-bar bg-warning" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>

                      <h4 class="small font-weight-bold">Neutral <span class="float-right">60%</span></h4>
                      <div class="progress mb-4">
                        <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>

                      <h4 class="small font-weight-bold">Disgust <span class="float-right">80%</span></h4>
                      <div class="progress mb-4">
                        <div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>

                      <h4 class="small font-weight-bold">Sadness <span class="float-right">80%</span></h4>
                      <div class="progress mb-4">
                        <div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                      </div> 

                      <h4 class="small font-weight-bold">Fear <span class="float-right">80%</span></h4>
                      <div class="progress mb-4">
                        <div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>

                      <h4 class="small font-weight-bold">Anger <span class="float-right">80%</span></h4>
                      <div class="progress mb-4">
                        <div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>

                      <h4 class="small font-weight-bold">Contempt <span class="float-right">Complete!</span></h4>
                      <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>


                    </div>
                  </div>
  
         </div>


        </div>

        </div>

  
          </div>
          <!-- /.container-fluid -->
  
        </div>
        <!-- End of Main Content -->
  
      </div>
      <!-- End of Content Wrapper -->
  
    </div>
    <!-- End of Page Wrapper -->
  


  <!-- Page level plugins -->
  <script src="{{ url_for('static', filename='./vendor/chart.js/Chart.min.js')}}"></script>
  <!-- Page level custom scripts -->
  <script src="{{ url_for('static', filename='js/chart-1.js') }}"></script>

  <script>

    const happiness = ["If you want to be happy, be.","Dream as if you'll live forever, live as if you'll die today.", "Doing what you like is freedom. Liking what you do is happiness.", "If you want to be happy, set a goal that commands your thoughts, liberates your energy, and inspires your hopes."];
    const surprise = ["Would you like to know your future? If your answer is yes, think again. Not knowing is the greatest life motivator. So enjoy, endure, survive each moment as it comes to you in its proper sequence, a surprise.","Expect nothing. Live frugally on surprise.","The moments of happiness we enjoy take us by surprise. It is not that we seize them, but that they seize us."];
    const neutral = ["There is no life as complete as the life that is lived by choice.","In the end, it's not about the years in your life that count. It's the life in your years.","Life isn't about finding yourself. Life is about creating yourself.","No one finds life worth living - one has to make it worth living."];
    const angry = ["For every minute you remain angry, you give up sixty seconds of peace of mind.","People won't have time for you if you are always angry or complaining.","To be angry is to revenge the faults of others on ourselves.","When angry count to ten before you speak. If very angry, count to one hundred."];
    const depressed = ["Our greatest glory is not in never falling, but in rising every time we fall.","It does not matter how slowly you go as long as you do not stop.","Success is not final, failure is not fatal: it is the courage to continue that counts.","Hardships often prepare ordinary people for an extraordinary destiny.","Believe in yourself. You are braver than you think, more talented than you know, and capable of more than you imagine."];

    const mood = document.getElementById('mood');
    if (mood == "Happiness") {

    } else if (mood == "Surprise") {

    } else if (mood == "Anger") {

    } else if (mood == "Neutral") {

    } else {

    }
  
  </script>



  {% endblock %}