{% extends 'base.html' %}

{% block header %}
    {% block title %}About{% endblock %}
{% endblock %}

{% block content %}
<br>
<br>

<div class="container text-center">
    <div class="row mb-4">
        <div class="col-md-10 offset-1">
            <div class="card m-1 shadow-sm">
                <h1 class="card-header">About Moody</h1>
                <div class="card-body">
                    <p>
                        There has a been recent surge in popularity regarding students and mental health. The purpose of this project is to help suffering students undergoing large amounts of stress to be able to keep track of their moods over time. Moody uses facial expression recognization to determine how the user is feeling, and provides dynamic graphs to analytically determine trends in the user's moods.
                    </p>
                    {% if g.user %}
                    {% else %}
                    <a href="{{ url_for('auth.register') }}" class="btn btn-primary btn-lg rounded">Get Started</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<h1 class="text-center"><b>The Creators</b></h3>
<br/>

<div class="container text-center">
    <div class="row">
        
        <div class="col-md-4">
            <div class="card p-1 shadow-sm" id="d">
                <div class="card-header">
                    <h1 class="text-center">Dhanvee</h1>
                </div>
                <div class="card-body">
                    <p>Eager to learn Computer Science student with experience in Python, Java, Javascript, machine learning concepts and web fundamentals.</p>
                </div>
                <div class="align-items-center m-2 card">
                    <div class="row">
                        <a class="fab fa-github-square fa-2x p-1" href="https://github.com/Ludikrous"></a>
                        <a class="fab fa-github-square fa-2x p-1" href="https://github.com/ryanmao725"></a>
                        <a class="fas fa-envelope-square fa-2x p-1" href="https://github.com/ryanmao725"></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card p-1 shadow-sm" id="n">
                <div class="card-header">   
                    <h1 class="text-center">Nikolay</h1>
                </div>
                <div class="card-body">
                    <p>I am a driven, active student at the University of Maryland working towards a Bachelor's of Science in Computer Science with interested in the fields of data science and deep learning.</p>
                </div>
                <div class="align-items-center m-2 card">
                    <div class="row">
                        <a class="fab fa-github-square fa-2x p-1" href="https://github.com/Nikolay-Pomytkin"></a>
                        <a class="fab fa-github-square fa-2x p-1" href="https://github.com/ryanmao725"></a>
                        <a class="fas fa-envelope-square fa-2x p-1" href="https://github.com/ryanmao725"></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card p-1 shadow-sm" id="r">
                <div class="card-header">
                    <h1 class="text-center">Ryan</h1>
                </div>
                <div class="card-body">
                    <p>Rutgers University undergrad student studying for a double major in computer science and math!</p>
                </div>
                <div class="align-items-center m-2 card">
                    <div class="row">
                        <a class="fab fa-github-square fa-2x p-1" href="https://github.com/ryanmao725"></a>
                        <a class="fab fa-github-square fa-2x p-1" href="https://github.com/ryanmao725"></a>
                        <a class="fas fa-envelope-square fa-2x p-1" href="mailto:ryan.mao.725@gmail.com"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<p class="text-center">Moody &copy; 2019</p>
{% endblock %}
