<!doctype html>
<title>{% block title %}{% endblock %}</title>

<!-- Custom fonts for this template-->
<link rel="stylesheet" href="{{ url_for('static', filename='./vendor/fontawesome-free/css/all.min.css') }}">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

<!-- Custom styles for this template-->
<link rel="stylesheet" href="{{ url_for('static', filename='./css/sb-admin-2.min.css') }}">

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light rounded fixed-top">
  <a class="navbar-brand">Moody</a> <!--Site name-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample09">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('dashboard.index') }}">Home <span class="sr-only">(current)</span></a>
      </li>
      {% if g.user %}
        <li class="nav-item"><span class="nav-item nav-link">{{ g.user['username'] }}</span>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.logout') }}">Log Out</a>
      {% else %}
        <li class="nav-item dropdown"> <!--Dropdown for login and register-->
          <a class="nav-link dropdown-toggle" href="#" id="dropdown09" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu" aria-labelledby="dropdown09">
            <a class="dropdown-item" href="{{ url_for('auth.login') }}">Login</a>
            <a class="dropdown-item" href="{{ url_for('auth.register') }}">Register</a>
          </div>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>
{% endblock %}

<section class="content">
  <header>
  </header>
  {% block content %}{% endblock %}
</section>

<!-- Bootstrap core JavaScript-->
<script src="{{ url_for('static', filename='./vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='./vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<!-- Core plugin JavaScript-->
<script src="{{ url_for('static', filename='./vendor/jquery-easing/jquery.easing.min.js') }}"></script>
  
<!-- Custom scripts for all pages-->
<script src="{{ url_for('static', filename='./js/sb-admin-2.min.js') }}"></script>